body {
  color: #00ffff;
  background-color: #696969;
}

h1,
h2 {
  font-size: 3rem;
  color: #00ffff;
}

button {
  color: #00ffff;
  background-color: black;
}

.login-message {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  padding: 3rem 6rem;
  @media (max-width: 600px) {
    font-size: 0.8rem;
    padding: 2rem 4rem;
  }
}
