<body>
  <div class="flex justify-center items-center min-h-screen p-4">
    <div class="bg-black p-8 rounded shadow-md w-full max-w-md">
      <h2 class="text-cyan-400 text-2xl font-bold mb-6 text-center">Login</h2>
      <form
        novalidate
        class="grid bg-cyan-500 w-full gap-4 p-4 border border-white rounded-sm shadow-md shadow-white"
        [formGroup]="loginFormGroup"
        (ngSubmit)="onFormSubmit()"
      >
        @if (loginFormGroup.controls.username.invalid) {
          <small class="text-error">Username is required.</small>
        }
        <label for="username" class="text-black">Username: </label>
        <input
          type="text"
          id="username"
          class="border border-white rounded p-2 bg-black text-white"
          formControlName="username"
        />

        @if (loginFormGroup.controls.password.invalid) {
          <small class="text-error">Password must be at least 6 characters.</small>
        }
        <label for="password" class="text-black">Password: </label
        ><input
          type="password"
          id="password"
          class="border border-white rounded p-2 bg-black text-white"
          formControlName="password"
        />
        @if (isSubmited()) {
          <label for="mfaCode" class="text-black">MFA Code: </label
          ><input
            type="text"
            id="mfaCode"
            class="border border-white rounded p-2 bg-black text-white"
            #mfaCode
          />

          <button
            mat-button
            color="primary"
            type="button"
            class="w-full mt-2 shadow hover:shadow-lg"
            (click)="verifyMfa(mfaCode.value)"
          >
            Submit Mfa
          </button>
        }

        @if (!isSubmited()) {
          <button
            mat-button
            color="primary"
            type="submit"
            [disabled]="!loginFormGroup.valid"
            class="w-full mt-2 shadow hover:shadow-lg"
          >
            Submit
          </button>
        }
      </form>
    </div>
  </div>
</body>
